.u-form{
	width: 100% !important;
}

@media(min-width: 576px){
	.u-form{
		width: 50rem !important;
	}
}

.row > *{
	padding-right: 0!important;
	padding-left: 0!important;
}

input, select, button, textarea {
	box-shadow: none!important;
}

.verticalCenter {
    margin: auto !important;
    width: 50% !important;
    padding: 10px !important;
}